header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: $white;
    border-bottom: 1px solid $gray-border;

    .logo {
        display: flex;
        align-items: baseline;

        a {
            font-size: 1.5em;
            font-weight: bold;
            color: $black;
            text-decoration: none;
        }

        p {
            color: #888;
            margin-left: 10px;
        }
    }
}

nav {
    display: flex;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 20px;
    }

    .nav-link {
        text-decoration: none;
        color: #555;
        font-weight: 500;

        &.active,
        &:hover {
            color: #000;
        }
    }
}

main {
    flex: 1;
}

h1 {
    font-size: 2.5em;
    margin: 40px 0;
    text-align: center;
}