// Brand Colors
$primary-yellow: #ffc107; // Resume button
$primary-red: #dc3545;    // Projects button
$primary-cyan: #17a2b8;   // Contact button

// Base Colors
$bg-body: #f7f7f7;        // Background พื้นหลัง
$white: #ffffff;
$black: #000000;
$gray-text: #555;
$gray-border: #ddd;

// Typography
$font-stack: 'Segoe UI', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-gray-light: #ddd;
$color-gray-medium: #555;
$color-gray-dark: #333;
$color-gray-darker: #222;
$color-gray-darkest: #444;
$color-bg: #f7f7f7;
$color-yellow: #ffc107;
$color-red: #dc3545;
$color-cyan: #17a2b8;