@import 'main';

.section {
    max-width: 900px;
    margin-top: 10px;
    padding: 20px 20px;
    border-top: 1px solid #ddd;
}

h2 {
    font-size: 1.75em;
    margin: 20px 0;
    color: #444;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    color: #444;

    img {
        width: 36px;
        height: 36px;
    }

    &-text {
        display: flex;
        flex-direction: column;
    }

    &-title {
        font-weight: bold;
        font-size: 1.1em;
    }

    &-details {
        font-size: 1em;
        color: #666;
        text-decoration: none;

        a {
            color: #666;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

footer {
    background-color: #fff;
    padding: 20px 40px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #555;
    gap: 10px;

    .footer-info {
        div {
            font-size: 12pt;
            font-weight: bold;
        }

        img {
            width: 25px;
            height: 25px;
        }
    }

    .social-links {
        a {
            margin-left: 10px;
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    header,
    footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-info {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    h1 {
        font-size: 2em;
        margin: 20px 0;
    }

    .item {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding-left: 50px;

        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            flex-shrink: 0;
        }
    }

    .section {
        padding: 0 40px;
    }
}