
// 2. BOOTSTRAP 
// เรียกไฟล์หลักของ Bootstrap (ตรวจสอบ Path ให้ถูกต้องตามโครงสร้างเครื่องคุณ)
// ตัวอย่างเช่น หาก main.scss อยู่ในโฟลเดอร์ scss/ และ node_modules อยู่นอกสุด
@import "../../plugin/bootstrap/node_modules/bootstrap/scss/bootstrap.scss";

// 4. scss
@import 'index';
@import 'resume';
@import 'projects';
@import 'contact';

/* ซ่อนทุก section ที่เป็นเนื้อหาหลัก */
.content-resume, .content-projects, .content-contact {
    display: none;
}
