@import 'main';

.section {
    flex-grow: 1;
    width: 90%;
    margin: 0 auto 30px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    &-content {
        flex: 1 1 50%;

        ul {
            list-style-type: disc;
            padding-left: 20px;
            font-size: 1em;
            color: #555;
        }
    }

    &-title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 8px;
        color: #444;
    }

    &-details {
        font-size: 1em;
        color: #777;
        margin-bottom: 10px;
    }
}

.project-image {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
}

footer {
    background-color: #fff;
    padding: 20px 40px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #555;
    gap: 10px;

    .footer-info {
        div {
            font-size: 12pt;
            font-weight: bold;
        }

        img {
            width: 25px;
            height: 25px;
        }
    }

    .social-links {
        a {
            margin-left: 10px;
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    header,
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .footer-info {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .item {
        flex-direction: column;
    }

    .project-image img {
        width: 100%;
    }

    h1 {
        font-size: 2em;
        margin: 20px 0;
    }

    .section {
        width: 90%;
        padding: 0 10px;
    }
}